body {

	font-family: arial;
	width: 80%;
	margin : 0 auto;
	background : #333333;
}
header
{
	background :#0263ff;
}
main
{
	background :#FFFFFF;
}
#imago
{
	width: 256px;
	height: 256px;
	background: url("../images/wolf.jpg");
	background-size: cover;
}
footer
{
	background :#CCCCCC;
}
.rotate
{
	transform:rotate(85deg);
}