body {

	font-family: arial;
	width: 80%;
	margin : 0 auto;
	background :  url("../images/bowsette.png");
	background-size: 128px, 128px;
}
header
{
	background :#e45dec;
}
main
{
	background :#CCCCCC;
}
footer
{
	background :#CCCCCC;
}
#bowsetteIMG
{
	margin: auto;
	align-content: center;
	display: flex;
	text-align : center;
	grid-area : c;
width: 512px;
height :128px;
background : url("../images/bowsette.png");
background-size:cover;
padding: 32px;
}
.rotate
{
	transform:rotate(85deg);
}